/* COLORS */
:root {
    --forest: #055E63;
    --golden: #D5B98C;
    --berry: #7F4952;
    --darkness: #3B3838;
    --sky: #56BAC6;
    --clouds: #e1eced;
}

/* FONTS */
@font-face {
    font-family: thuluth;
    src: url(fonts/DTHULUTH-II-1.ttf);
}

@font-face {
    font-family: amjad;
    src: url(fonts/Ulamjad.ttf);
}

@font-face {
    font-family: SemiBold;
    src: url(fonts/ExpoArabic-SemiBold.ttf);
}

@font-face {
    font-family: Bold;
    src: url(fonts/ExpoArabic-Bold.otf);
}

@font-face {
    font-family: Book;
    src: url(fonts/ExpoArabic-Book.ttf);
}

@font-face {
    font-family: Light;
    src: url(fonts/ExpoArabic-Light.ttf);
}

@font-face {
    font-family: Medium;
    src: url(fonts/ExpoArabic-Medium.ttf);
}

/* ANIMATIONS */
@keyframes slides-up {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* GLOBAL STYLING */
h1 {
    font-size: 60px;
}

h2 {
    font-family: bold;
    font-size: 36px;
    color: var(--forest);
    text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 4px;
}

h2 span {
    color: var(--darkness);
}

p {
    font-family: book;
    font-size: 18px;
}

h3 {
    font-family: medium;
    font-size: 24px;
}

h4 {
    color: var(--forest);
    font-family: medium;
    font-weight: normal;
    font-size: 45px;
}

a {
    text-decoration: none;
}

section {
    min-height: 100vh;
    text-align: center;
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

ol {
    list-style: none;
    text-align: right;
    list-style-type: arabic-indic;
}

ol li {
    text-align: justify;
    font-family: book;
    font-size: 20px;
}



* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: #f6f6f6;
    background-image: url(stock/خلفية\ الأحرف.png);
    background-repeat: repeat-y;
    color: var(--darkness);
}

.cover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(stock/خلفية\ قرآن.jpg);
    background-size: cover;
    min-height: 100svh;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.cover .title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    margin-bottom: 180px;
    color: white;
    font-family: semibold;
}

.cover h1 {
    text-align: center;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.4);
}

.cover h1 span {
    color: var(--golden);
}


/* NAVIGATION BARS */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: book;
    font-size: 20px;
    margin: 20px;
}

header nav ul li a {
    color: white;
    transition: .2s ease-in-out;
}

header nav ul li a:hover {
    color: var(--golden);
}

header nav ul li:nth-child(2) a {
    font-family: semibold;
    border: solid 3px var(--golden);
    border-radius: 50px;
    padding: 12px;
    transition: .2s ease-in-out;
}

header nav ul li:nth-child(2) a:hover {
    color: white;
    background-color: var(--golden);
}

header .logo-wrapper {
    margin: 20px;
    direction: rtl;
    text-align: justify;
    color: var(--golden);
}

header .logo-wrapper p {
    font-family: medium;
    font-size: 9px;
}

header .logo-wrapper .logo {
    width: 195px;
}

header .nav-btn {
    margin: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--golden);
    font-size: 26px;
    display: none;
}

/* DEFAULT */
.default {
    background-color: var(--forest);
}



.about-comp p {
    font-family: book;
    text-align: justify;
    font-size: 20px;
    max-width: 60ch;
    margin: 30px;
}

.about-comp p a {
    color: var(--golden);
    font-weight: bold;
}

.about-comp p a:hover {
    color: var(--forest);
}



.comp-terms ol li {
    margin: 30px;
    max-width: 40ch;
}

.comp-terms ol li::marker {
    font-family: bold;
    color: var(--forest);
    font-size: 30px;
}



.comp-prize table {
    margin-top: 40px;
    border-collapse: collapse;
    min-width: 50%;
    direction: rtl;
    text-align: center;
    background: var(--clouds);
    font-family: medium;
    font-size: 20px;
    table-layout: fixed;
}

.comp-prize thead {
    color: white;
}

.comp-prize th,
td {
    padding: 10px 15px;
    border: 2px solid white;
    font-weight: normal;
}

.comp-prize th {
    background: var(--forest);
}

.comp-prize table td:nth-child(1) {
    background: var(--golden);
    color: var(--berry);
}


.dates .date {
    justify-self: center;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 3px 15px -10px black;
    padding: 30px 10px;
    margin-top: 20px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.dates .date p {
    font-family: book;
    font-size: 22px;
    text-align: center;
}



.sections-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.sections .card {
    width: 300px;
    height: 120px;
    perspective: 1000px;
    align-self: center;
    justify-self: center;
    margin: 20px;
    cursor: pointer;
}

.sections .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;

}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.sections .card:hover .card-inner {
    transform: rotateY(180deg);
}

.sections .card-inner .card-head {
    font-family: semibold;
    font-size: 24px;
}

.sections .card-inner .card-desc {
    font-family: book;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 1px 3px 15px -10px black;
    backface-visibility: hidden;
}

.card-front {
    background-color: var(--clouds);
    color: var(--forest);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    transform: rotateY(0deg);
}

.card-back {
    background-color: var(--forest);
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    transform: rotateY(180deg);
}


.nominating {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.nominating h2 {
    text-align: center;
    width: fit-content;
    border-radius: 100px;
    padding: 20px 80px;
    align-self: center;
    justify-self: center;
    border: 4px solid var(--forest);
    text-shadow: 0px 0px 0px;
}

.nominating .countdown {
    direction: ltr;
    align-self: flex-start;
    justify-self: center;
}

.nominating .countdown h3 {
    direction: rtl;
    color: var(--forest);
    margin-bottom: 20px;
    font-size: 30px;
    text-shadow: 3px 3px rgba(0, 0, 0, .2);
}

.nominating .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nominating .buttons .girls {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 45px;
    border: 4px solid;
    border-color: transparent;
    font-size: 24px;
    background-color: inherit;
    border-radius: 100px;
    font-family: semibold;
    color: var(--berry);
    box-shadow: 0 0 0 2px var(--berry);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.nominating .buttons .girls svg {
    position: absolute;
    width: 24px;
    fill: var(--berry);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.nominating .buttons .girls .arr-1 {
    right: 16px;
}

.nominating .buttons .girls .arr-2 {
    left: -25px;
}

.nominating .buttons .girls .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--berry);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.nominating .buttons .girls .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.nominating .buttons .girls:hover {
    box-shadow: 0 0 0 12px transparent;
    color: white;
    border-radius: 12px;
}

.nominating .buttons .girls:hover .arr-1 {
    right: -25%;
}

.nominating .buttons .girls:hover .arr-2 {
    left: 15%;
}

.nominating .buttons .girls:hover .text {
    transform: translateX(12px);
}

.nominating .buttons .girls:hover svg {
    fill: white
}

.nominating .buttons .girls:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--berry);
}

.nominating .buttons .girls:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}



.nominating .buttons .boys {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 45px;
    border: 4px solid;
    border-color: transparent;
    font-size: 24px;
    background-color: inherit;
    border-radius: 100px;
    font-family: semibold;
    color: var(--sky);
    box-shadow: 0 0 0 2px var(--sky);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.nominating .buttons .boys svg {
    position: absolute;
    width: 24px;
    fill: var(--sky);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.nominating .buttons .boys .arr-1 {
    right: 16px;
}

.nominating .buttons .boys .arr-2 {
    left: -25px;
}

.nominating .buttons .boys .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--sky);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.nominating .buttons .boys .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.nominating .buttons .boys:hover {
    box-shadow: 0 0 0 12px transparent;
    color: white;
    border-radius: 12px;
}

.nominating .buttons .boys:hover .arr-1 {
    right: -25%;
}

.nominating .buttons .boys:hover .arr-2 {
    left: 15%;
}

.nominating .buttons .boys:hover .text {
    transform: translateX(12px);
}

.nominating .buttons .boys:hover svg {
    fill: white;
}

.nominating .buttons .boys:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--sky);
}

.nominating .buttons .boys:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}



.sign-box {
    min-height: 80svh;
}

.sign-box form {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 6px;
    padding: 40px 70px;
    border-radius: 15px;
    border: 1px solid rgb(200, 200, 200);
    backdrop-filter: blur(10px);
}

.sign-box form h3 {
    color: var(--forest);
    font-size: 30px;
    font-family: bold;
    text-align: center;
}

.sign-box form .inputGroup {
    font-family: book;
    position: relative;
    margin-top: 40px;
}

.sign-box form .inputGroup input {
    font-size: 100%;
    color: var(--darkness);
    direction: rtl;
    padding: 14px 8px;
    outline: none;
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: var(--darkness) solid 2px;
}

.sign-box form .inputGroup .usenm {
    width: 37%;
    font-size: 100%;
    position: absolute;
    left: 55%;
    top: 0;
    padding: 12.8px;
    margin-left: 8px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: var(--darkness);
}

.sign-box form .inputGroup .pass {
    width: 30%;
    font-size: 100%;
    position: absolute;
    left: 64%;
    top: 0;
    padding: 12.8px;
    margin-left: 8px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: var(--darkness);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 20.8px;
    padding: 6.4px;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: var(--forest);
}

.sign-box form button {
    width: 100%;
    background-color: var(--darkness);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: medium;
    font-size: 16px;
    color: white;
    margin-top: 50px;
    scale: 1.1;
    transition: all .2s ease-in-out;
}

.sign-box form button:hover {
    cursor: pointer;
}





/* RESPONSIVENESS */
@media (max-width: 1024px) {
    h1 {
        font-size: 42px;
    }

    nav ul li {
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    header .logo-wrapper p {
        display: none;
    }

    header .logo-wrapper .logoSmall {
        display: block;
        width: 40px;
    }

    header .logo-wrapper .logo {
        display: none;
    }

    header .nav-btn {
        display: block;
    }

    header nav {
        position: fixed;
        top: 0;
        left: -100vh;
        height: 100%;
        width: 70%;
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: column;
        background: var(--forest);
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.4);
        transition: transform 1s ease-in-out;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 60px;
    }

    .responsive_nav {
        transform: translateX(80vh);
    }

    header .nav-close-btn{
        margin: 0px;
    }
}

@media (width > 768px) {
    .logoSmall {
        display: none;
    }
}

@media (max-width: 660px) {
    h1 {
        font-size: 36px;
    }
}